<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="direction: rtl">
  <p>
    کاربر عزیز
    <strong> <%= profile.credentials %></strong>
  </p>
  <p>
سامانه‌ی پرداخت الکترونیکی و
    فرآیند ثبت‌نام رویداد‌ها در سایت شاخه، راه‌اندازی شد.

  </p>

    <p>
با رفتن به‌ صفحه‌ی
    <a href="acm.ut.ac.ir/events/category/Class">
      <strong>
        کلاس‌های تابستانی
      </strong>
    </a>
      و
      <a href="acm.ut.ac.ir/events/category/Ring">
        <strong>
          حلفه‌ها
        </strong>
      </a>
      رویدادهای مورد نظر خود را انتخاب کنید و با رفتن به صفحه‌ی هر رویداد (در قسمت اطلاعات بیش‌تر) در آن ثبت نام کنید.
    </p>
  <p>
    دانشجویان محترم دانشگاه تهران می‌توانند با مراجعه به دفتر شاخه‌ی دانشجویی ای‌سی‌ام
    ، واقع در  مرکز کامپیوتری دانشکده‌ی برق و کامپیوتر (ساختمان قدیم)
    و تایید حساب کاربری خود، از تخفیف در ثبت‌نام رویدادها برخوردار شوند.
  </p>
  <p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
		<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
  </body>
</html>
