<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="direction: rtl">
  <p>
    کاربر عزیز
  </p>
  <p>
    شما با موفقیت در سایت انجمن علمی مهندسی کامپیوتر دانشگاه تهران (<strong> شاخه‌ی ای‌سی‌ام </strong>) ثبت نام کردید.
  </p>
  <p>
    می‌توانید رویداد‌های آتی شاخه را در صفحه‌ی
    <a href="acm.ut.ac.ir/events"> رویداد‌ها </a>
    مشاهده و برنامه‌های مورد علاقه‌ی خود را انتخاب کنید تا اخبار آن‌ها به شما اطلاع‌رسانی شود.
  </p>
  <p>
    می‌توانید در صفحه‌ی تنظیمات، اعتبار مالی خود را افزایش دهید و در صفحه‌ی هر رویداد نسبت به ثبت‌نام آن اقدام کنید.
  </p>
  <p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>
		<%= image_tag attachments['acm.png'].url, :alt => 'ACM Student Chapter', :size => '64x64' %>
  </body>
</html>
