<div class="heading">
	<div>
		<%= image_tag 'acm-logo.png', size: '60x60', alt: 'ACM Student Chapter' %>
		<h1>
			<span class="title">ACM</span>
			<span class="subtitle">University of Tehran</span>
		</h1>
	</div>
</div>