
<div class="container">
  <div class="widget green">
    <div class="widget-title">
      <h4>
خطا در
<%if @participation.event.category=="Production"%>
خرید
<%else%>
 ثبت‌نام
 <%end%>
      </h4>
    </div>
    <div class="widget-body">

      <div class="control-group" style="direction: rtl">
        <p>
اعتبار شما برای
<%if @participation.event.category=="Production"%>
خرید محصول
<%else%>
ثبت‌نام در رویداد
<%end%>
     <strong>     <%= @participation.event.title %></strong>
          ، کافی نیست. حداقل مبلغ
          <strong><%= @participation.get_price - @participation.profile.credit %> </strong>
          ریال
          پرداخت کنید تا بتوانید
          <%if @participation.event.category=="Production"%>
          این محصول را تهیه نمایید
          <%else%>
           در این رویداد ثبت‌نام کنید.
           <%end%>
        </p>

        <div class="controls">
          <!--<div >-->
            <%= link_to "پرداخت جدید",new_payment_path, :class =>"btn panel-primary" %>
          <!--</div>-->
        </div>
      </div>

    </div>
  </div>
</div>