<h3 class="title">New Event</h3>

<ul class="breadcrumb">
	<li>
		<a href="#">Home</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href="#">Events</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href="#">New Event</a>
		<span class="divider">/</span>
	</li>
</ul>

<%= render 'form' %>
