
<div class="container">
  <div class="widget green">
    <div class="widget-title">
      <h4>تایید ثبت‌نام</h4>
    </div>
    <div class="widget-body">

          <div class="control-group" style="direction: rtl">
              <p>
                <%if @participation.event.category=="Product"%>
                شما در حال خرید محصول
                <%else%>
شما در حال ثبت‌نام رویداد
<%end%>
                <strong>     <%= @participation.event.title %></strong>
          و هزینه‌ی
          <%if @participation.event.category=="Product"%>
          خرید
          <%else%>
           ثبت‌نام
           <%end%>
              <strong><%= @participation.get_price %></strong>
ریال
              است.
              </p>
              <p>
                آیا مطمئن هستید می‌خواهید در
                <%if @participation.event.category=="Product"%>
                این محصول را خریداری کنید؟
                <%else%>
                 این رویداد ثبت‌نام کنید؟
                 <%end%>
              </p>

            <div class="controls">
              <div class="form-actions">
                <%if @participation.event.category=="Product"%>
                <% link_text='خرید'%>
                <%else%>
                <% link_text='ثبت نام'%>
                <%end%>
                <%= link_to link_text,buy_path(participation: @participation), method: :post, :class => 'btn btn-primary' %>
                <%= link_to 'لغو', root_path, :class => 'btn btn-danger' %>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>