
    <div class="worldcup-container">
      <!--<img src="/assets/halghe.jpg">-->
      <div class="wrp">
        <div class="main-content">
          <div class="card-col">
            <div class="noid_container">
              <img src="/events/assets/Germany.jpg">

              <div class="title">
                <p>
<%= @worldcup.germany_goal %>
                </p>

              </div>

            </div>
          </div>
          <div class="card-col">
            <div class="noid_container">
              <img src="/events/assets/fifa3.jpg">

              <div class="title">
شما پیش‌بینی کردید
              </div>

            </div>
          </div>
          <div class="card-col">
            <div class="noid_container">
              <img src="/events/assets/Argentina.jpg">

              <div class="title">
                <%= @worldcup.argentina_goal %>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
