<div class="container col-md-8 col-md-offset-2">
	<div class="alert alert-success" style="direction:rtl;">
		خطا!
		در صورتی که فکر میکنید باید اتفاق خاصی می افتاد، با شاخه دانشجویی ای سی ام  در میان بگذارید.
	</div>
</div>
